<div class="wrapper">
    <mat-form-field class="searchBar">
        <mat-label>Search</mat-label>
        <input matInput [matAutocomplete]="auto" type="text" [formControl]="searchFormControl" />
        <button *ngIf="searchText$ | async" matSuffix mat-icon-button aria-label="Clear" (click)="searchFormControl.setValue('')">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <div class="recipes">
        <mat-card *ngFor="let recipe of filteredSearch$ | async" class="recipe">
            <mat-card-header>
                <mat-card-title> {{ recipe.name }}</mat-card-title>
            </mat-card-header>
            <mat-card-content> {{ recipe.description }}</mat-card-content>
            <mat-card-actions>
                <a mat-button href="/recipes/{{ recipe.id }}" target="_blank">View</a>
                <a mat-button href="/recipes/edit/{{ recipe.id }}" target="_blank">Edit</a>
                <button mat-button>Delete</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="addButton">
        <a href="/recipes/edit/0" target="_blank">
            <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
                <mat-icon>add</mat-icon>
            </button>
        </a>
    </div>
</div>

<mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let recipe of recipes$ | async" [value]="recipe.name">
        {{ recipe.name }}
    </mat-option>
</mat-autocomplete>
