.wrapper {
    margin: 3rem;

    .searchTool {
        display: flex;
        flex-wrap: wrap;
        column-gap: 2rem;
        width: 100%;
        align-items: flex-start;
        .searchBar {
            width: 50rem;
            flex: auto;
        }
        #keywordFilter {
            width: 20rem;
        }
    }

    .recipes {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        .description {
            margin-bottom: 0.5rem;
        }
        .keywords {
            margin: 0.5rem;
        }
        .recipe {
            flex: auto;
            width: 25rem;
            max-width: 40rem;
            mat-card-content {
                margin-top: 0.5rem;
            }
        }
    }
    .addButton {
        margin-top: 0.5rem;
    }
}
