.wrapper {
    margin: 3rem;
    .searchBar {
        width: 100%;
    }
    .recipes {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        .recipe {
            flex: auto;
            width: 25rem;
            max-width: 40rem;
            mat-card-content {
                margin-top: 0.5rem;
            }
        }
    }
    .addButton {
        margin-top: 0.5rem;
    }
}
