.properties {
    display: flex;
    flex-direction: column;
}

.ingredientKeywordForm {
    display: flex;
    gap: 0.5rem;
}

mat-card-content {
    margin-top: 1.5rem;
}
mat-divider {
    margin-top: 0.5rem;
}

textarea {
    height: 500px;
}

.ingredientKeyword {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    column-gap: 3rem;
    row-gap: 2rem;

    & > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        button.add {
            width: fit-content;
        }
    }
}

.actions {
    display: flex;
    gap: 0.5rem;
    margin-left: 0.5rem;
}
