<form *ngIf="recipeForm" [formGroup]="recipeForm" (ngSubmit)="onSubmit()" class="recipe-form">
    <mat-card>
        <mat-card-header>
            <mat-card-title *ngIf="recipeId === 0">Create Recipe</mat-card-title>
            <mat-card-title *ngIf="recipeId !== 0">Edit Recipe</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div class="properties">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" />
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput cdkTextareaAutosize formControlName="description"></textarea>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Image URL</mat-label>
                    <input matInput formControlName="imageUrl" />
                </mat-form-field>

                <mat-form-field class="longText" appearance="outline">
                    <mat-label>Instructions</mat-label>
                    <textarea matInput cdkTextareaAutosize formControlName="instructions"></textarea>
                </mat-form-field>
            </div>
            <div class="ingredientKeyword">
                <div formArrayName="recipesIngredients">
                    <div>
                        <div *ngFor="let ingredientCtrl of getControls('recipesIngredients'); let i = index">
                            <div class="ingredientKeywordForm" [formGroupName]="i">
                                <mat-form-field appearance="outline">
                                    <mat-label>Ingredient</mat-label>
                                    <input matInput [matAutocomplete]="autoIngredients" formControlName="ingredient" />
                                </mat-form-field>

                                <mat-form-field appearance="outline">
                                    <mat-label>Quantity</mat-label>
                                    <input matInput formControlName="quantity" />
                                </mat-form-field>
                                <button mat-fab color="warn" type="button" (click)="onRemoveIngredient(i)">
                                    <mat-icon>remove</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <button mat-raised-button class="add" color="accent" type="button" (click)="onAddIngredient()">Add Ingredient</button>
                </div>
                <div formArrayName="keywordList">
                    <div>
                        <div *ngFor="let keywordCtrl of getControls('keywordList'); let i = index">
                            <div class="ingredientKeywordForm" [formGroupName]="i">
                                <mat-form-field appearance="outline">
                                    <mat-label>Keyword</mat-label>
                                    <input matInput [matAutocomplete]="autoKeywords" formControlName="keyword" />
                                </mat-form-field>

                                <button mat-fab color="warn" type="button" (click)="onRemoveKeyword(i)"><mat-icon>remove</mat-icon></button>
                            </div>
                        </div>
                    </div>
                    <button mat-raised-button class="add" color="accent" type="button" (click)="onAddKeyword()">Add Keyword</button>
                </div>
            </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions class="actions" align="start">
            <button mat-raised-button type="submit" color="primary">Submit</button>
            <button mat-raised-button type="warn" color="warn" mat-button (click)="deleteRecipe()">Delete</button>
        </mat-card-actions>
    </mat-card>
</form>

<mat-autocomplete #autoIngredients="matAutocomplete">
    <mat-option *ngFor="let ingredient of ingredients" [value]="ingredient.name">
        {{ ingredient.name }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #autoKeywords="matAutocomplete">
    <mat-option *ngFor="let keyword of keywords" [value]="keyword.name">
        {{ keyword.name }}
    </mat-option>
</mat-autocomplete>
