.wrapper {
    .recipeCard {
        margin: 1rem;

        .recipeTitle {
            font-size: xx-large;
            margin-top: 1rem;
        }
        .recipeDescription {
            margin-top: 0.5rem;
        }
        .content {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            .ingredients {
                width: 15rem;
            }
            .instructions {
                flex: auto;
                width: 50rem;

                .instructionText {
                    text-align: justify;
                    white-space: pre-line;
                    margin: calc((3rem - 1.5rem) / 2) 16px;
                }
            }
        }
        .keywords {
            margin: 1rem;
        }
        .comments {
            width: calc(100% - 2rem);
            margin-bottom: 1rem;

            .commentTitle {
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
                font-size: x-large;
            }
            .newComment {
                width: calc(100% - 2rem);
            }
            .existingComment {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                margin-bottom: 1rem;
                .commentCard {
                    text-align: justify;
                    flex: auto;
                    width: 25rem;
                    max-width: 40rem;
                }
            }
        }
    }
}
