.wrapper {
    .recipeCard {
        margin: 1rem;

        .content {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            .ingredients {
                width: 12rem;
            }
            .instructions {
                flex: auto;
            }
        }
        .keywords {
            margin: 1rem;
        }
        .comments {
            width: calc(100% - 2rem);
            margin-bottom: 1rem;
            .newComment {
                width: calc(100% - 2rem);
            }
            .existingComment {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                margin-bottom: 1rem;
                .commentCard {
                    text-align: justify;
                    flex: auto;
                    width: 25rem;
                    max-width: 40rem;
                }
            }
        }
    }
}
